@font-face {
    font-family: "byron";
    src: url("../font/byron/byron672b.eot?s50l92");
    src:
        url("../font/byron/byron672b.eot?s50l92#iefix")
            format("embedded-opentype"),
        url("../font/byron/byron672b.ttf?s50l92") format("truetype"),
        url("../font/byron/byron672b.woff?s50l92") format("woff"),
        url("../font/byron/byron672b.svg?s50l92#byron") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="byr-"],
[class*=" byr-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "byron" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.byr-oil-1:before {
    content: "\e950";
}
.byr-barrel:before {
    content: "\e951";
}
.byr-battery:before {
    content: "\e952";
}
.byr-battery-1:before {
    content: "\e953";
}
.byr-cart:before {
    content: "\e954";
}
.byr-cone:before {
    content: "\e955";
}
.byr-container:before {
    content: "\e956";
}
.byr-container-1:before {
    content: "\e957";
}
.byr-conveyor:before {
    content: "\e958";
}
.byr-professional:before {
    content: "\e959";
}
.byr-engineer:before {
    content: "\e95a";
}
.byr-eolic-energy:before {
    content: "\e95b";
}
.byr-factory:before {
    content: "\e95c";
}
.byr-factory-1:before {
    content: "\e95d";
}
.byr-factory-2:before {
    content: "\e95e";
}
.byr-forklift:before {
    content: "\e95f";
}
.byr-fuel-truck:before {
    content: "\e960";
}
.byr-fuel-station:before {
    content: "\e961";
}
.byr-tanker:before {
    content: "\e962";
}
.byr-gear:before {
    content: "\e963";
}
.byr-gear-1:before {
    content: "\e964";
}
.byr-helmet:before {
    content: "\e965";
}
.byr-nuclear-plant:before {
    content: "\e966";
}
.byr-oil:before {
    content: "\e967";
}
.byr-oil-2:before {
    content: "\e968";
}
.byr-pump-jack:before {
    content: "\e969";
}
.byr-product:before {
    content: "\e96a";
}
.byr-radiation:before {
    content: "\e96b";
}
.byr-robotic-arm:before {
    content: "\e96c";
}
.byr-robot-arm:before {
    content: "\e96d";
}
.byr-solar-panel:before {
    content: "\e96e";
}
.byr-tank:before {
    content: "\e96f";
}
.byr-tool:before {
    content: "\e970";
}
.byr-truck:before {
    content: "\e971";
}
.byr-valve:before {
    content: "\e972";
}
.byr-voltmeter:before {
    content: "\e973";
}
.byr-allen-1:before {
    content: "\e974";
}
.byr-allen-2:before {
    content: "\e975";
}
.byr-allen:before {
    content: "\e976";
}
.byr-anvil:before {
    content: "\e977";
}
.byr-axe:before {
    content: "\e978";
}
.byr-barrier:before {
    content: "\e979";
}
.byr-battery-11:before {
    content: "\e97a";
}
.byr-battery1:before {
    content: "\e97b";
}
.byr-board:before {
    content: "\e97c";
}
.byr-brace:before {
    content: "\e97d";
}
.byr-brick-wall-1:before {
    content: "\e97e";
}
.byr-brick-wall-2:before {
    content: "\e97f";
}
.byr-brick-wall-3:before {
    content: "\e980";
}
.byr-brick-wall:before {
    content: "\e981";
}
.byr-bucket-1:before {
    content: "\e982";
}
.byr-bucket:before {
    content: "\e983";
}
.byr-caulk-gun:before {
    content: "\e984";
}
.byr-chainsaw:before {
    content: "\e985";
}
.byr-chisel:before {
    content: "\e986";
}
.byr-cone1:before {
    content: "\e987";
}
.byr-construction-1:before {
    content: "\e988";
}
.byr-construction:before {
    content: "\e989";
}
.byr-crane-1:before {
    content: "\e98a";
}
.byr-cutter:before {
    content: "\e98b";
}
.byr-door-1:before {
    content: "\e98c";
}
.byr-door-2:before {
    content: "\e98d";
}
.byr-door-3:before {
    content: "\e98e";
}
.byr-drawing-1:before {
    content: "\e98f";
}
.byr-drawing:before {
    content: "\e990";
}
.byr-drill-1:before {
    content: "\e991";
}
.byr-drill-2:before {
    content: "\e992";
}
.byr-drill-3:before {
    content: "\e993";
}
.byr-drill:before {
    content: "\e994";
}
.byr-electric-tower-1:before {
    content: "\e995";
}
.byr-electric-tower:before {
    content: "\e996";
}
.byr-electricity:before {
    content: "\e997";
}
.byr-engineer1:before {
    content: "\e998";
}
.byr-eolic-energy1:before {
    content: "\e999";
}
.byr-flashlight:before {
    content: "\e99a";
}
.byr-gas-pipe-1:before {
    content: "\e99b";
}
.byr-gas-pipe-2:before {
    content: "\e99c";
}
.byr-gas-pipe-3:before {
    content: "\e99d";
}
.byr-gas-pipe-4:before {
    content: "\e99e";
}
.byr-gas-pipe-5:before {
    content: "\e99f";
}
.byr-gas-pipe-6:before {
    content: "\e9a0";
}
.byr-gas-pipe-7:before {
    content: "\e9a1";
}
.byr-gas-pipe-8:before {
    content: "\e9a2";
}
.byr-gas-pipe:before {
    content: "\e9a3";
}
.byr-hammer-1:before {
    content: "\e9a4";
}
.byr-hammer-2:before {
    content: "\e9a5";
}
.byr-hammer-3:before {
    content: "\e9a6";
}
.byr-hammer-4:before {
    content: "\e9a7";
}
.byr-hammer-5:before {
    content: "\e9a8";
}
.byr-hook:before {
    content: "\e9a9";
}
.byr-hydrant:before {
    content: "\e9aa";
}
.byr-jackhammer:before {
    content: "\e9ab";
}
.byr-jigsaw:before {
    content: "\e9ac";
}
.byr-knife:before {
    content: "\e9ad";
}
.byr-ladder-1:before {
    content: "\e9ae";
}
.byr-ladder-2:before {
    content: "\e9af";
}
.byr-ladder-3:before {
    content: "\e9b0";
}
.byr-ladder-4:before {
    content: "\e9b1";
}
.byr-level:before {
    content: "\e9b2";
}
.byr-light-bulb-1:before {
    content: "\e9b3";
}
.byr-light-bulb-2:before {
    content: "\e9b4";
}
.byr-light-bulb-3:before {
    content: "\e9b5";
}
.byr-light-bulb-4:before {
    content: "\e9b6";
}
.byr-light-bulb-5:before {
    content: "\e9b7";
}
.byr-light-bulb-6:before {
    content: "\e9b8";
}
.byr-light-bulb-7:before {
    content: "\e9b9";
}
.byr-light-bulb-8:before {
    content: "\e9ba";
}
.byr-light-bulb-9:before {
    content: "\e9bb";
}
.byr-light-bulb-10:before {
    content: "\e9bc";
}
.byr-light-bulb-11:before {
    content: "\e9bd";
}
.byr-light-bulb-12:before {
    content: "\e9be";
}
.byr-light-bulb-13:before {
    content: "\e9bf";
}
.byr-light-bulb:before {
    content: "\e9c0";
}
.byr-loader:before {
    content: "\e9c1";
}
.byr-log-1:before {
    content: "\e9c2";
}
.byr-log-2:before {
    content: "\e9c3";
}
.byr-log:before {
    content: "\e9c4";
}
.byr-nail-gun:before {
    content: "\e9c5";
}
.byr-nails-1:before {
    content: "\e9c6";
}
.byr-nails:before {
    content: "\e9c7";
}
.byr-paint-brush-1:before {
    content: "\e9c8";
}
.byr-paint-brush-2:before {
    content: "\e9c9";
}
.byr-paint-brush-3:before {
    content: "\e9ca";
}
.byr-paint-brush-4:before {
    content: "\e9cb";
}
.byr-paint-brush-5:before {
    content: "\e9cc";
}
.byr-paint-brush-6:before {
    content: "\e9cd";
}
.byr-paint-brush-7:before {
    content: "\e9ce";
}
.byr-paint-brush-8:before {
    content: "\e9cf";
}
.byr-paint-brush-9:before {
    content: "\e9d0";
}
.byr-paint-brush-10:before {
    content: "\e9d1";
}
.byr-paint-brush-11:before {
    content: "\e9d2";
}
.byr-paint-brush-12:before {
    content: "\e9d3";
}
.byr-paint-roller-1:before {
    content: "\e9d4";
}
.byr-paint-roller-2:before {
    content: "\e9d5";
}
.byr-pantone:before {
    content: "\e9d6";
}
.byr-parquet-1:before {
    content: "\e9d7";
}
.byr-pipe-2:before {
    content: "\e9d8";
}
.byr-pipe-3:before {
    content: "\e9d9";
}
.byr-pipe-4:before {
    content: "\e9da";
}
.byr-pipe-5:before {
    content: "\e9db";
}
.byr-pipe-6:before {
    content: "\e9dc";
}
.byr-pipe-7:before {
    content: "\e9dd";
}
.byr-pipe-8:before {
    content: "\e9de";
}
.byr-pipe-9:before {
    content: "\e9df";
}
.byr-pipe-10:before {
    content: "\e9e0";
}
.byr-pipe-11:before {
    content: "\e9e1";
}
.byr-plier-1:before {
    content: "\e9e2";
}
.byr-plier-2:before {
    content: "\e9e3";
}
.byr-plier-3:before {
    content: "\e9e4";
}
.byr-plier-4:before {
    content: "\e9e5";
}
.byr-plier:before {
    content: "\e9e6";
}
.byr-plug-1:before {
    content: "\e9e7";
}
.byr-plug-2:before {
    content: "\e9e8";
}
.byr-plug-3:before {
    content: "\e9e9";
}
.byr-plug-4:before {
    content: "\e9ea";
}
.byr-plug-5:before {
    content: "\e9eb";
}
.byr-plumbering-1:before {
    content: "\e9ec";
}
.byr-plumbering:before {
    content: "\e9ed";
}
.byr-rake-1:before {
    content: "\e9ee";
}
.byr-rake-2:before {
    content: "\e9ef";
}
.byr-rake:before {
    content: "\e9f0";
}
.byr-relief-valve-1:before {
    content: "\e9f1";
}
.byr-relief-valve-2:before {
    content: "\e9f2";
}
.byr-relief-valve:before {
    content: "\e9f3";
}
.byr-ruler-1:before {
    content: "\e9f4";
}
.byr-ruler-2:before {
    content: "\e9f5";
}
.byr-ruler-3:before {
    content: "\e9f6";
}
.byr-ruler-4:before {
    content: "\e9f7";
}
.byr-ruler-5:before {
    content: "\e9f8";
}
.byr-saw-1:before {
    content: "\e9f9";
}
.byr-saw-2:before {
    content: "\e9fa";
}
.byr-saw-3:before {
    content: "\e9fb";
}
.byr-saw-4:before {
    content: "\e9fc";
}
.byr-saw-5:before {
    content: "\e9fd";
}
.byr-screw-2:before {
    content: "\e9fe";
}
.byr-screw-3:before {
    content: "\e9ff";
}
.byr-screw-4:before {
    content: "\ea00";
}
.byr-screw-5:before {
    content: "\ea01";
}
.byr-screwdriver-1:before {
    content: "\ea02";
}
.byr-screwdriver-2:before {
    content: "\ea03";
}
.byr-screwdriver-3:before {
    content: "\ea04";
}
.byr-screwdriver-4:before {
    content: "\ea05";
}
.byr-screwdriver-5:before {
    content: "\ea06";
}
.byr-screws-1:before {
    content: "\ea07";
}
.byr-screws:before {
    content: "\ea08";
}
.byr-scythe:before {
    content: "\ea09";
}
.byr-shovel-1:before {
    content: "\ea0a";
}
.byr-shovel-2:before {
    content: "\ea0b";
}
.byr-shovel-3:before {
    content: "\ea0c";
}
.byr-shovel-4:before {
    content: "\ea0d";
}
.byr-socket-1:before {
    content: "\ea0e";
}
.byr-socket-2:before {
    content: "\ea0f";
}
.byr-socket-3:before {
    content: "\ea10";
}
.byr-socket-4:before {
    content: "\ea11";
}
.byr-socket-5:before {
    content: "\ea12";
}
.byr-socket-6:before {
    content: "\ea13";
}
.byr-socket-7:before {
    content: "\ea14";
}
.byr-socket-8:before {
    content: "\ea15";
}
.byr-socket-9:before {
    content: "\ea16";
}
.byr-socket-10:before {
    content: "\ea17";
}
.byr-socket-11:before {
    content: "\ea18";
}
.byr-socket-12:before {
    content: "\ea19";
}
.byr-socket-13:before {
    content: "\ea1a";
}
.byr-socket-14:before {
    content: "\ea1b";
}
.byr-socket-15:before {
    content: "\ea1c";
}
.byr-socket-16:before {
    content: "\ea1d";
}
.byr-socket-17:before {
    content: "\ea1e";
}
.byr-socket-18:before {
    content: "\ea1f";
}
.byr-socket-19:before {
    content: "\ea20";
}
.byr-socket:before {
    content: "\ea21";
}
.byr-spray-gun:before {
    content: "\ea22";
}
.byr-spray:before {
    content: "\ea23";
}
.byr-swiss-army-knife-1:before {
    content: "\ea24";
}
.byr-swiss-army-knife-2:before {
    content: "\ea25";
}
.byr-swiss-army-knife-3:before {
    content: "\ea26";
}
.byr-swiss-army-knife-4:before {
    content: "\ea27";
}
.byr-swiss-army-knife-5:before {
    content: "\ea28";
}
.byr-swiss-army-knife:before {
    content: "\ea29";
}
.byr-switch-1:before {
    content: "\ea2a";
}
.byr-switch-2:before {
    content: "\ea2b";
}
.byr-switch-3:before {
    content: "\ea2c";
}
.byr-switch-4:before {
    content: "\ea2d";
}
.byr-switch-5:before {
    content: "\ea2e";
}
.byr-switch-6:before {
    content: "\ea2f";
}
.byr-switch-7:before {
    content: "\ea30";
}
.byr-tap-1:before {
    content: "\ea31";
}
.byr-tap-2:before {
    content: "\ea32";
}
.byr-tap:before {
    content: "\ea33";
}
.byr-tiles:before {
    content: "\ea34";
}
.byr-toolbox-1:before {
    content: "\ea35";
}
.byr-toolbox:before {
    content: "\ea36";
}
.byr-tools-1:before {
    content: "\ea37";
}
.byr-tools-2:before {
    content: "\ea38";
}
.byr-tools-3:before {
    content: "\ea39";
}
.byr-tools:before {
    content: "\ea3a";
}
.byr-trowel-1:before {
    content: "\ea3b";
}
.byr-trowel-2:before {
    content: "\ea3c";
}
.byr-trowel-3:before {
    content: "\ea3d";
}
.byr-trowel-4:before {
    content: "\ea3e";
}
.byr-vest:before {
    content: "\ea3f";
}
.byr-vise-1:before {
    content: "\ea40";
}
.byr-vise-2:before {
    content: "\ea41";
}
.byr-vise-3:before {
    content: "\ea42";
}
.byr-vise-4:before {
    content: "\ea43";
}
.byr-vise:before {
    content: "\ea44";
}
.byr-voltmeter-1:before {
    content: "\ea45";
}
.byr-voltmeter-2:before {
    content: "\ea46";
}
.byr-voltmeter-3:before {
    content: "\ea47";
}
.byr-voltmeter1:before {
    content: "\ea48";
}
.byr-wall-plug:before {
    content: "\ea49";
}
.byr-window-1:before {
    content: "\ea4a";
}
.byr-window-2:before {
    content: "\ea4b";
}
.byr-window-3:before {
    content: "\ea4c";
}
.byr-window-4:before {
    content: "\ea4d";
}
.byr-wood-1:before {
    content: "\ea4e";
}
.byr-wood:before {
    content: "\ea4f";
}
.byr-woodcutter:before {
    content: "\ea50";
}
.byr-wrench-1:before {
    content: "\ea51";
}
.byr-wrench-2:before {
    content: "\ea52";
}
.byr-wrench-3:before {
    content: "\ea53";
}
.byr-wrench-4:before {
    content: "\ea54";
}
.byr-wrench-5:before {
    content: "\ea55";
}
.byr-wrench-6:before {
    content: "\ea56";
}
.byr-wrench-7:before {
    content: "\ea57";
}
.byr-wrench-8:before {
    content: "\ea58";
}
.byr-wrench-9:before {
    content: "\ea59";
}
.byr-elevator:before {
    content: "\e900";
}
.byr-air-conditioner-1:before {
    content: "\e901";
}
.byr-air-conditioner:before {
    content: "\e902";
}
.byr-balcony:before {
    content: "\e903";
}
.byr-blueprint-1:before {
    content: "\e904";
}
.byr-blueprint-2:before {
    content: "\e905";
}
.byr-blueprint:before {
    content: "\e906";
}
.byr-box:before {
    content: "\e907";
}
.byr-brickwall-1:before {
    content: "\e908";
}
.byr-brickwall:before {
    content: "\e909";
}
.byr-building-1:before {
    content: "\e90a";
}
.byr-building:before {
    content: "\e90b";
}
.byr-calculator:before {
    content: "\e90c";
}
.byr-certificate:before {
    content: "\e90d";
}
.byr-chat:before {
    content: "\e90e";
}
.byr-check:before {
    content: "\e90f";
}
.byr-compass:before {
    content: "\e910";
}
.byr-concrete-mixer-1:before {
    content: "\e911";
}
.byr-concrete-mixer:before {
    content: "\e912";
}
.byr-crane:before {
    content: "\e913";
}
.byr-document:before {
    content: "\e914";
}
.byr-documents:before {
    content: "\e915";
}
.byr-door:before {
    content: "\e916";
}
.byr-driller:before {
    content: "\e917";
}
.byr-faucet:before {
    content: "\e918";
}
.byr-fence:before {
    content: "\e919";
}
.byr-flash:before {
    content: "\e91a";
}
.byr-garage:before {
    content: "\e91b";
}
.byr-glass-wall-1:before {
    content: "\e91c";
}
.byr-glass-wall:before {
    content: "\e91d";
}
.byr-hammer:before {
    content: "\e91e";
}
.byr-hangar:before {
    content: "\e91f";
}
.byr-heater:before {
    content: "\e920";
}
.byr-helmet1:before {
    content: "\e921";
}
.byr-high-voltage:before {
    content: "\e922";
}
.byr-home:before {
    content: "\e923";
}
.byr-house-1:before {
    content: "\e924";
}
.byr-house-2:before {
    content: "\e925";
}
.byr-house-3:before {
    content: "\e926";
}
.byr-house-4:before {
    content: "\e927";
}
.byr-house:before {
    content: "\e928";
}
.byr-key:before {
    content: "\e929";
}
.byr-ladder:before {
    content: "\e92a";
}
.byr-lamp:before {
    content: "\e92b";
}
.byr-letter:before {
    content: "\e92c";
}
.byr-line-chart:before {
    content: "\e92d";
}
.byr-mailbox:before {
    content: "\e92e";
}
.byr-mansion:before {
    content: "\e92f";
}
.byr-measuring-tape:before {
    content: "\e930";
}
.byr-nail:before {
    content: "\e931";
}
.byr-padlock-1:before {
    content: "\e932";
}
.byr-padlock:before {
    content: "\e933";
}
.byr-paint-brush:before {
    content: "\e934";
}
.byr-paint-roller:before {
    content: "\e935";
}
.byr-parking:before {
    content: "\e936";
}
.byr-parquet:before {
    content: "\e937";
}
.byr-pipe-1:before {
    content: "\e938";
}
.byr-pipe:before {
    content: "\e939";
}
.byr-placeholder:before {
    content: "\e93a";
}
.byr-pliers:before {
    content: "\e93b";
}
.byr-plug:before {
    content: "\e93c";
}
.byr-portfolio:before {
    content: "\e93d";
}
.byr-roof:before {
    content: "\e93e";
}
.byr-ruler:before {
    content: "\e93f";
}
.byr-saw:before {
    content: "\e940";
}
.byr-screw-1:before {
    content: "\e941";
}
.byr-screw:before {
    content: "\e942";
}
.byr-screwdriver:before {
    content: "\e943";
}
.byr-set-square:before {
    content: "\e944";
}
.byr-shovel:before {
    content: "\e945";
}
.byr-skyscraper:before {
    content: "\e946";
}
.byr-smartphone:before {
    content: "\e947";
}
.byr-spatula:before {
    content: "\e948";
}
.byr-switch:before {
    content: "\e949";
}
.byr-trowel:before {
    content: "\e94a";
}
.byr-truck1:before {
    content: "\e94b";
}
.byr-wallpaper:before {
    content: "\e94c";
}
.byr-wheelbarrow:before {
    content: "\e94d";
}
.byr-window:before {
    content: "\e94e";
}
.byr-wrench:before {
    content: "\e94f";
}
